<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span><ul class="toc-item"><li><span><a href="#Описание-данных" data-toc-modified-id="Описание-данных-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Описание данных</a></span></li><li><span><a href="#Открываем-и-изучаем-файл" data-toc-modified-id="Открываем-и-изучаем-файл-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Открываем и изучаем файл</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Количество-пропусков" data-toc-modified-id="Количество-пропусков-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Количество пропусков</a></span></li><li><span><a href="#Просмотр-уникальных-значений" data-toc-modified-id="Просмотр-уникальных-значений-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Просмотр уникальных значений</a></span></li><li><span><a href="#Изменение-типа-данных" data-toc-modified-id="Изменение-типа-данных-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Изменение типа данных</a></span></li></ul></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Общий вывод</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## Загрузка данных

### Описание данных

Набор данных находится в файле `/datasets/insurance.csv`.

*	**`Признаки`**: пол, возраст и зарплата застрахованного, количество членов его семьи.
*	**`Целевой признак`**: количество страховых выплат клиенту за последние 5 лет.

### Открываем и изучаем файл

Импортируем необходимые в работе библиотеки и модули

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
# откроем датасет и сохраним его в новой переменной
df = pd.read_csv('/datasets/insurance.csv')

In [3]:
# выведем первые пять строк таблицы
df.head()

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

In [4]:
# Выведем общую информацию
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

In [5]:
# Посмотрим на список характерных значений
df.describe()

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

### Предобработка данных

#### Количество пропусков

На всякий случай проверим отсутствие пропусков в данных.

In [6]:
print("Количество пропусков: {}".format(df.isna().sum().sum()))

Количество пропусков: 0

Убедились, что пропусков в данных нет!

#### Просмотр уникальных значений

С применением цикла посмотрим на уникальные значения столбцов:

In [7]:
for column in df.columns:
        print('Уникальные значения столбца', column)
        print(df[column].unique())

Уникальные значения столбца Пол
[1 0]
Уникальные значения столбца Возраст
[41. 46. 29. 21. 28. 43. 39. 25. 36. 32. 38. 23. 40. 34. 26. 42. 27. 33.
 47. 30. 19. 31. 22. 20. 24. 18. 37. 48. 45. 44. 52. 49. 35. 56. 65. 55.
 57. 54. 50. 53. 51. 58. 59. 60. 61. 62.]
Уникальные значения столбца Зарплата
[49600. 38000. 21000. 41700. 26100. 41000. 39700. 38600. 49700. 51700.
 36600. 29300. 39500. 55000. 43700. 23300. 48900. 33200. 36900. 43500.
 36100. 26600. 48700. 40400. 38400. 34600. 34800. 36800. 42200. 46300.
 30300. 51000. 28100. 64800. 30400. 45300. 38300. 49500. 19400. 40200.
 31700. 69200. 33100. 31600. 34500. 38700. 39600. 42400. 34900. 30500.
 24200. 49900. 14300. 47000. 44800. 43800. 42700. 35400. 57200. 29600.
 37400. 48100. 33700. 61800. 39400. 15600. 52600. 37600. 52500. 32700.
 51600. 60900. 41800. 47400. 26500. 45900. 35700. 34300. 26700. 25700.
 33300. 31100. 31500. 42100. 37300. 42500. 27300. 46800. 33500. 44300.
 41600. 53900. 40100. 44600. 45000. 32000. 38200. 33000. 38500. 51800.
 33800. 46400. 43200. 31800. 50200. 35100. 30700. 45800. 49300. 42800.
 33600. 50300. 34000. 36400. 44900. 43600. 54600. 52800. 29700. 39000.
 44100. 31900. 37700. 35200. 43100. 51300. 47500. 40800. 26800. 64900.
 35900. 31200. 39900. 43300. 33900. 40700. 44700. 53400. 30600. 56000.
 35600. 55200. 40600. 48300. 50800. 41200. 44200. 44400. 40500. 39800.
 16600. 48400. 25100. 23100. 32100. 31000. 42900. 46700. 26000. 55900.
 52000. 41500. 49400. 60300. 45600. 49000. 37500. 21900. 45100. 47900.
 54300. 32400. 41300. 44500. 23200. 37900. 48000. 52100. 45700. 29900.
 42600. 45200. 36000. 46500. 23800. 30200. 24400. 32800. 29000. 43400.
 51500. 61700. 45400. 50700. 36200. 41900. 27900. 47200. 48800. 55100.
 48200. 35500. 35000. 43900. 40000. 22000. 40300. 36300. 49800. 25600.
 42300. 54900. 25500. 32900. 36700. 38900. 24700. 28800. 22900. 47300.
 14500. 28700. 44000. 34100. 53000. 59300. 28500. 47100. 41400. 58900.
 17500. 54200. 43000. 29800. 20000. 13800. 27500. 67700. 28000. 37100.
  8900. 14600. 56200. 38800. 27700. 50500. 58400. 34700. 34400. 49100.
 50900. 28200. 61500. 32500. 25900.  9800. 28300. 41100. 62000. 32600.
 37200. 53800. 24000. 53600. 54800. 59600. 20200. 21700. 29200. 38100.
 20700. 32300. 21200. 62100. 54000. 24500. 51900. 47800. 56100. 55300.
 58100. 28900. 39100. 58000. 27200. 24600. 30100. 57100. 60100. 22200.
 47700. 24900. 37800. 52700. 34200. 18700. 42000. 26300. 22600. 30900.
 35800. 30800. 51100. 53300. 46200. 24100. 54700. 51200. 62300. 51400.
 40900. 23400. 35300. 55800. 33400. 21300. 30000. 56700. 46900.  5300.
 39200. 57500. 31300. 53700. 21600. 50000. 36500. 16400. 15900. 65100.
 59900. 63200. 26200. 61200. 48500. 32200. 29100. 50100. 22700. 28600.
 23500. 23700. 19600. 17800. 50600. 57900. 22500. 22100. 58300. 64100.
 25000. 60400. 59100. 37000. 62400. 29500. 25800. 25400. 26900. 21500.
 52200. 46600. 57300. 46100. 19300. 18900. 31400. 28400. 29400. 17600.
 13900. 52400. 11300. 46000. 60500. 58700. 58200. 24800. 63700. 60600.
 20400. 26400. 55600. 57000. 45500. 48600. 57600. 52900. 62800. 17000.
 56500. 52300. 18400. 63300. 12900. 27000. 55700. 39300. 27800. 18300.
 56300. 59800. 24300. 14400. 13400. 17900. 47600. 54500. 54400. 23900.
 13000. 19900. 55400. 22800. 61000. 57400. 23000. 20500. 53200. 18100.
 25300. 59500. 18200. 50400. 21100. 20900. 27400. 17300. 60700. 70600.
 17700. 19700. 49200. 63100. 59200. 14700. 53100. 21800. 68000. 16500.
 71400. 10000. 55500. 54100. 56400. 20600. 66300. 18800. 11000. 66100.
 27100. 57800. 53500. 19200. 58500. 64000. 63600. 23600. 25200. 19100.
 18600. 57700. 62700. 56600. 21400. 58800. 68400. 17100. 13300. 68500.
 56900. 64400. 27600. 67200. 16200. 58600. 62200. 16000. 79000. 22300.
 11200. 71600. 61300. 70500. 67100. 59000. 13500. 16700. 15700. 60000.
 17400. 63400. 61900. 65200. 62600. 14100. 20100. 63800. 15100. 70000.
 60200. 20300. 65900. 15200. 63500. 13200. 68900. 12200.  6000. 74800.
 59700. 10800. 19000. 10600. 69400. 15000. 75200. 62500. 16300. 20800.
  7400. 65300. 61400. 56800.]
Уникальные значения столбца Члены семьи
[1 0 2 4 3 5 6]
Уникальные значения столбца Страховые выплаты
[0 1 2 3 5 4]

Как видим, столбцы **`Возраст`** и **`Зарплата`** имеют вещественный тип данных, изменим его на целочисленный.

#### Изменение типа данных

Создадим новый список, значениями которого будут столбцы, подлежащие изменению:

In [8]:
# создаем список с названиями столбцов
list_meaning = ['Возраст', 'Зарплата']

Далее переберем его элементы циклом `for` и для каждого столбца выполним замену типов:

In [9]:
for columns in list_meaning:
    df[columns] = df[columns].astype('int')

Проверим изменился ли тип данных столбцов `"Возраст"` и `"Зарплата"` на `'int'`:

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   int64
 2   Зарплата           5000 non-null   int64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: int64(5)
memory usage: 195.4 KB

Да, как видим изменение типов произошло успешно.

### Вывод

Данные загружены и изучены. Аномалий не наблюдается. Приведены к целочисленному типу данных столбцы `"Возраст"` и `"Зарплата"`. Пропусков в данных нет.

## Умножение матриц

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Вопрос:** 

Признаки умножают на обратимую матрицу. Изменится ли качество линейной регрессии?

**Ответ:** 

Не изменится.

Заменим матрицу $X$ на матрицу $Z$: 

$$
Z = XP
$$

$P$ - обратимая матрица на которую может быть умножена матрица $X$.

**Обоснование:** 

Заменим $X$ на $Z$ и вычислим, чему будет равно предсказание и вектор весов.

$$
a1 = Zw1
$$

$$
w1 = (Z^T Z)^{-1} Z^T y
$$

Исхлдя из этого получим следущее:

$$
a1 = Z(Z^T Z)^{-1} Z^T y
$$

Заменим все $Z$ на $XP$:

$$
a1 = XP((XP^T XP))^{-1} (XP)^T y
$$

Далее нам понадобится следующее свойсво обратной матрицы:

$$
(AB)^{-1} = B^{-1} A^{-1}
$$

Раскроем выражение $((XP)^T XP)^{-1}$:

$$
a1 = XP((XP)^T XP)^{-1} (XP)^T y = XP(XP)^{-1}((XP)^T)^{-1} (XP)^T y = XPP^{-1}X^{-1}((XP)^T)^{-1}(XP)^T y
$$

Умножение приведет к $PP^{-1} = E$. Далее воспользуемся свойством транспорнированной матрицы:

$$
(AB)^T = B^TA^T
$$

Умножение на единичную матрицу ничего не меняет. Раскроем выражение $((XP)^T)^{-1}(XP)^T$:

$$
a1 = XEX^{-1}((XP)^T)^{-1}(XP)^T y = XX^{-1}(P^T X^T)^{-1} P^T X^T y = X X^{-1}(X^T)^{-1}(P^T)^{-1} P^T X^T y
$$

Умножение приведет к $(P^T)^{-1}P^T = E$:

$$
a1 = X X^{-1}(X^T)^{-1} E X^T y = X(X^TX)^{-1} X^T y = Xw = a
$$

Как видим, значение предсказания $a$ не меняется, если умножать матрицу признаков на обратимую матрицу.

$$
w' = ((XP)^T XP)^{-1} (XP)^T y
$$
$$
w' = (P^T (X^T X) P)^{-1} (XP)^T y
$$
$$
/..............
$$

$$
w' = ((XP)^T XP)^{-1} (XP)^T y = (P^T (X^T X) P)^{-1} (XP)^T y = P^{-1} (X^TX)^{-1}(P^T)^{-1} P^TX^Ty = P^{-1}(X^TX)^{-1}Ewy  = P^{-1}w
$$

## Алгоритм преобразования

**Алгоритм**

Для защиты информации на этапе поиска коэффициентов регрессии и предсказаний регрессии будем умножать матрицу признаков на обратимую матрицу $Y$, которая будет генерироваться случайным образом.

Этапы алгоритма:

Составление матрицы $Y$.
Проверка матрицы на обратимость. Вычисление детерминанта матрицы $Y$.
Получение матрицы преобразованных признаков $Z = XY$.
Применение алгоритма на преобразованных признаках $Z$.

**Обоснование**

Матрица $Y$ должна иметь необходимую размерность $(n*n)$, где n - количество признаков для регрессии. Таким образом матрица $Z$ будет иметь туже размерность, что и матрица $X$. Обратная матрица $Y$ существует только для квадратных невырожденных матриц (определитель которых не равен нулю).

## Проверка алгоритма

Проведем исследование модели по двум направлениям:

1. Исследуем качество модели без преобразования.

* С исходными признаками
* С отмасштабированными признаками

2. Исследуем качество модели с преобразованием.

* С исходными признаками
* С отмасштабированными признаками

Разделим данные на обучающие и тестовые:

In [11]:
# задаем значение random_state
rand = 13
# признаки
features = df.drop('Страховые выплаты',axis=1)
# целевой признак
target = df['Страховые выплаты']
# разделим данные на обучающие и тестовые
features_train, features_test, target_train, target_test = train_test_split(
    features, target, test_size=0.25, random_state=rand)

Построим модель "Линейной регрессии" на исходных данных:

In [12]:
# Модель "Линейной регрессии" на исходных данных
model = LinearRegression()
# обучаем модель
model.fit(features_train, target_train)
# получаем предсказания
predictions = model.predict(features_test)
# рассчитываем r2_score
model_R2 = r2_score(target_test, predictions)
# печатаем результаты
print("R2 =", model_R2)

R2 = 0.4399491061258466

Проверим, что покажет модель на отмасштабированных данных:

In [13]:
# Модель "Линейной регрессии" на отмасштабированных данных
regressor = LinearRegression()
# масштабируем данные
scaller = StandardScaler()
# инициализируем pipeline
pipeline = Pipeline([("standard_scaller", scaller),("linear_regression", regressor)])
# обучаем модель
pipeline.fit(features_train, target_train)
# получаем предсказания
predictions_scaled = pipeline.predict(features_test)
# рассчитываем r2_score
model_R2_scaled = r2_score(target_test, predictions_scaled)
# печатаем результаты
print("R2 =", model_R2_scaled)

R2 = 0.4399491061258476

Как видим R2 у моделей показала себя одинаково как на исходных данных, так и на отмасштабированных.

Напишем функцию преобразования матрицы признаков.

In [14]:
def feature_matrix_transformation(features):
    # задаем значение random_state
    rand = 13
    coded_features = features
    n = features.shape[1]
    np.random.seed(rand)
    coded_matrix = np.random.randint(1, 10, (n,n))
    det = np.linalg.det(coded_matrix)
    while det == 0:
        np.random.seed(rand)
        coded_matrix = np.random.randint(1, 10, (n,n))
        det = np.linalg.det(coded_matrix)
    coded_features = coded_features @ coded_matrix
    return coded_features, coded_matrix

Выведем данные до преобразования и после.

In [15]:
display(features.head())
features, coded_matrix = feature_matrix_transformation(features)
display(features.head())
coded_matrix

   Пол  Возраст  Зарплата  Члены семьи
0    1       41     49600            1
1    0       46     38000            1
2    0       29     21000            0
3    0       21     41700            2
4    1       28     26100            0

        0       1       2       3
0  148929  347407  297769  248218
1  114141  266231  228188  190236
2   63087  147145  126116  105145
3  125169  292007  250292  208617
4   78387  182841  156713  130647

array([[3, 1, 1, 7],
       [3, 5, 4, 5],
       [3, 7, 6, 5],
       [3, 1, 4, 6]])

Как видим в данных теперь содержатся непонятные числа. Разобьем данные на тренировочную и обучающую выборку и проверим R2 значение.

In [16]:
# разделим данные на обучающие и тестовые
features_train, features_test, target_train, target_test = train_test_split(
    features, target, test_size=0.25, random_state=rand)

Построим модель "Линейной регрессии" на закодированных данных:

In [17]:
# Модель "Линейной регрессии" на закодированных данных
model = LinearRegression()
# обучаем модель
model.fit(features_train, target_train)
# получаем предсказания
predictions_coder = model.predict(features_test)
# рассчитываем r2_score
model_R2_code = r2_score(target_test, predictions_coder)
# печатаем результаты
print("R2 =", model_R2_code)

R2 = 0.4399491061258214

Проверим, что покажет модель на отмасштабированных закодированных данных:

In [18]:
# Модель "Линейной регрессии" на отмасштабированных закодированных данных
regressor = LinearRegression()
# масштабируем данные
scaller = StandardScaler()
# инициализируем pipeline
pipeline = Pipeline([("standard_scaller", scaller),("linear_regression", regressor)])
# обучаем модель
pipeline.fit(features_train, target_train)
# получаем предсказания
predictions_scaled_coder = pipeline.predict(features_test)
# рассчитываем r2_score
model_R2_scaled_coder = r2_score(target_test, predictions_scaled_coder)
# печатаем результаты
print("R2 =", model_R2_scaled_coder)

R2 = 0.43994910612586013

Как видим все показатели R2 моделей показали одни и теже результаты.

## Общий вывод

В процессе проведения исследовательского анализа данных мы открыли и изучили файл, предобработали данные путем проверки отсутствия пропусков и изменения типа данных. Выяснили, что качество линейной регресии не изменилось от использования исходной матрицы и исходной матрицы, умноженную на обратимую. Разработали и исследовали алгоритм преобразования данных, а также проверили метрики R2 для данных без преобразования и с ним и выяснили, что они имеют одинаковые значения, а значит данные успешно зашифровались.